@import '../sass/cores';
@import '../sass/responsivo';
@import '../sass/mixins';
@import '../sass/aluno';

@mixin alinhamento-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;

    .fundo {
        width: 728px;
        left: -100px;
        position: relative;
        height: 100vh;
        background: url(../images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        .logo{
            align-self: flex-end;
            margin-bottom: 10%;
            margin-left: 10%;
        }
        label{
            margin-bottom: 4px;
        }
       
    }

    form {
        display: flex;
        flex-direction: column;


        .input-form {
            background-color: $input-color;
            width: 386px;
            height: 49px;
            margin-bottom: 19px;
            padding:18px;
            font-size: 16px;
            outline: none;
            border: none;
            border-radius: 10px;
        }
    }
}

.submit-and-help {
    @include alinhamento-coluna;
    align-self: center;
    width: 273px;
}

a {
    color: $link;
    text-decoration: none;
    margin-top: 10vh;

    &:hover {
        color: $link-hover;
    }
}

.btn {
    background-color: $button-color;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 273px;
    height: 68px;
    border-radius: 14px;
    font-size: 35px;
    margin-top: 10vh;

    &:hover {
        background-color: $primary-color;
        color: black;
    }
}

//* AJUDA
.seta{
position: absolute;
top: -60px;
left: 20px;
}

.logo-img{
    position: relative;
    top: -10px;
    left: 4%;
    margin-top:20px
}

.help-form-container{
    margin-top: 20px;
}

span{
    font-size:13px;
    color: $primary-color;
}